<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Martina</h1>
        </a>
        <p>Node course</p>
    </div>
    <ul>
        <li>
            <a href="/">Blogs</a>
            <a href="/about">About</a>
            <a href="/blogs/create">Write</a>
        </li>
    </ul>
</nav>